header {
	position:absolute;
	margin-top:0%;
	height: 50px;
	width: 100%;
	border:none;
	background-color: #1d1936;
	
	

	/* display: inline-flexbox; */
	/* trying to align nav list */

}

img {
	width: 300px;
	height: 300px;
	border: 5px solid black;
	margin-bottom: 50px;

}

ul {
	text-align: right;
	color:white;
	/* text-decoration-line:underline; */

}



body {
	background-color: grey;
}



h1 {
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-weight: 200;
	color:black;
	font-size: 80px;
}

h2 {
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-weight: 200;
	color:black;
}

p1 {
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	color:black;
}

.box {

  width: 300px;
  height: 300px;
  border: 20px solid black;
  padding: 50px;
  margin: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color:black;
  font-weight:bold;
  

}

